*{
    margin: 0;
    padding: 0;
   font-family:'Poppins', sans-serif ;
   box-sizing: border-box;
   

}

.container{
    width: 600px;
    height: 600px;
    background-color: aliceblue;
    display: flex;
 
}
.bodymass{
    background-color: #3a4452;
    padding: 16px 10px;
    border-radius: 10px;
    color: white;
    height: 80%;
    width: 50%;
    margin: 50px 30px 50px 30px;
   
    
}

.bodymass input{
    height: 25px;
    width: auto;
    border-radius: 10px;
    font-size: 20px;
    padding: auto;
}

.bodymass button{
    align-items: center;
    
    background-color: green;
    color: white;
    height:35px ;
    width: 100px;
    border-radius: 10px;
    box-shadow: white;
    cursor: pointer;
    margin-left: 75px;
}


/*-------------css for responsive device-------------*/
